.faq-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 24px;
  cursor: pointer;
}
.faq-question-h3 {
  color: var(--text-color-primary);
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.faq {
  width: 1280px;
  border-top: 1px solid var(--gray);
}

.faq-answers {
  overflow: hidden;
}
.faq-answers-p {
  color: var(--gray);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.48px;
  margin-left: 24px;
  margin-bottom: 25px;
  max-width: 977px;
}
.faq-questions.active svg {
  transform: rotate(45deg);
}
.faq-questions.active svg {
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .faq-questions.active svg {
    transform: rotate(45deg);
  }
  .faq-answers-p {
    font-size: 15px;
  }
  .faq-question-h3 {
    font-size: 15px;
    text-align: left;
  }
}
