.home-cta-section {
  margin-top: 10rem;
  margin: 90px auto;
}
.home-cta-container {
  position: relative;
  overflow: hidden;
}
.home-cta-main {
  max-width: 90%;
  margin: 1rem 5rem;
  border-radius: 1.25rem;
  background: #204343;
  display: flex;
  gap: 25rem;
  padding: 75px 120px;
  z-index: -1;
  overflow: hidden;
}
.home-cta-content {
  display: flex;
  height: 406px;
  padding: 5px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  flex-shrink: 0;
  z-index: 10;
}
.home-cta-title {
  color: var(--white);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
}
.home-cta-description {
  color: #ececec;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 33.3rem;
}
.home-cta-image {
  z-index: 10;
  margin-left: -2%;
}
.home-page-quran-1 {
  position: relative;
  z-index: 1;
  left: 20%;
}
.home-page-quran-2 {
  position: relative;
  z-index: 1;
  top: -10%;
  left: 140%;
}
.home-page-quran-3 {
  position: relative;
  z-index: 1;
  left: -25%;
  top: -7%;
}
.quran-text-content-background {
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 15px;
  padding: 25px;
  color: #DDD;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  backdrop-filter: blur(10px);
  z-index: 5;
  position: absolute;
  text-align: center;
}
.quran1{
  bottom: -35%;
  left: -65%;
}
.quran2{
  bottom: -55%;
  left: -65%;
}
.quran3{
  bottom: -35%;
  right: -95%;
}

.homepage-mosque-image {
  z-index: 2;
  bottom: 0;
  left: 0;
  position: absolute;
}
.homepage-mosque-gradient {
  width: 90%;
  height: 120px;
  filter: blur(150px);
  background-color: rgba(255, 255, 255, 0.422);
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .home-cta-image{
    margin-left: -10rem;
  }
  .home-page-quran{
    height: 150px;
    width: 150px;
  }
  .quran-text-content-background{
    max-width: 200px;
    font-size: 16px;
    padding: 15px;
  }
  .home-page-quran-1{
    left: 0;
  }
  .home-page-quran-2 {
    position: relative;
    z-index: 1;
    top: -10%;
    left: 140%;
  }
  .home-page-quran-3 {
    position: relative;
    z-index: 1;
    left: -55%;
    top: -7%;
  }
}
@media screen and (max-width: 768px) {
  .home-cta-section {
    margin-top: 5rem;
    margin: 50px auto;
    padding: 20px;
  }
  
  .home-cta-main {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 1.25rem;
    background: #204343;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 50px 20px;
    overflow: hidden;
  }
  
  .home-cta-content {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
  }
  .home-cta-title {
    font-size: 30px;
    line-height: 48px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    text-align: center;
  }
  .home-cta-description {
    font-size: 1.25rem;
    max-width: 100%;
    margin-top: 15px;
  }
  .home-cta-button{
    max-width: 70vw;
    height: 50px;
    margin-top: 25px;
  }
  .home-page-heading-image{
    height: 50px;
    width: 120px;
  }
  .home-cta-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .home-page-quran{
    height: 120px;
    width: 120px;
  }
  
  .home-page-quran-1 {
    position: relative;
    z-index: 1;
    left: 5%;
  }
  .home-page-quran-2 {
    position: relative;
    z-index: 1;
    left: 50%;
    top: -2.5+rem;
  }
  .home-page-quran-3 {
    position: relative;
    z-index: 1;
    left: 8%;
    top: -5rem;
  }
  .quran2{
    bottom: -15%;
    left: -15%;
  }
  .qr2{
    position: relative;
    left: 4.8rem;
  }
  .quran-text-content-background {
    max-width: 200px;
    font-size: 16px;
    padding: 15px;
    position: static;
  }
  
  .homepage-mosque {
    position: relative;
    width: 100%;
  }
  
  .homepage-mosque-image {
    width: 90%;
    height: auto;
    position: absolute;
    left: 0;
  }
  
  .homepage-mosque-gradient {
    width: 100%;
    height: 100px;
    filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
  }
  
}