.how-we-work-section{
    padding: 5rem;
    padding: 90px auto;
    z-index: 5;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--background);
}
.how-we-work-title{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.cards-outer-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.top-arrow{
    display: flex;
    justify-content: flex-start;
    gap: 430px;
    margin-left: 180px;
    width: 80%;
}
.bottom-arrow{
    display: flex;
    justify-content: flex-start;
    gap: 432px;
    margin-left: 274px;
    /* width: 90%; */
}
.card-content{
    display: flex;
    gap: 28px;
}

@media screen and (max-width: 768px) {
    .cards-outer-div {
      flex-direction: column; 
      align-items: center; 
      gap: 20px;
    }
  
    .card-content {
      flex-direction: column; 
      align-items: center; 
      gap: 20px;
    }
  
    .top-arrow, .bottom-arrow {
      display: none; 
    }
  }
  