.footers-card {
  cursor: pointer;
  position: relative;
}
.footer-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 28px 24px; */
  cursor: pointer;
}
.footer-question-h3 {
  color: var(--text-color-primary);
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.footer-svg-outline {
  padding: 10px;
  border-radius: 50%;
  /* border: 1px solid var(--black); */
  display: none;
}
.footer-mobile {
  width: 1280px;
}
.footer-answers {
  overflow: hidden;
}
.footer-answers-p {
  color: var(--gray);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.48px;
  margin-left: 24px;
  margin-bottom: 25px;
  max-width: 977px;
  padding: 1rem 0;
}
.footer-questions.active svg {
  transform: rotate(45deg);
}
.footer-questions.active svg {
  transform: rotate(45deg);
}

/* mobile phone responsive */

@media screen and (max-width: 768px) {
  .footer-questions.active svg {
    transform: rotate(45deg);
  }
  .footer-answers-p {
    font-size: 25px;
  }
  .footer-question-h3 {
    font-size: 15px;
    text-align: left;
  }
  .footers-card {
    cursor: pointer;
    width: 100%;
    margin: auto;
  }

  .footer-mobile {
    width: 100%;
    padding: 1.5vh 2vw;
  }

  .footer-questions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .footer-question-h3 {
    color: var(--text-color-primary);
    font-family: "DM Sans";
    font-size: 1.8vw;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2vw;
    flex: 1;
    word-break: break-word;
    white-space: normal;
  }

  .footer-svg-outline {
    padding: 1vh;
    border-radius: 50%;
    /* border: 1px solid var(--white); */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .footer-answers {
    overflow: hidden;
  }

  .footer-answers-p {
    color: var(--gray);
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2vh;
    letter-spacing: -0.2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
    max-width: 90%;
    padding: 1rem 0;
    word-break: break-word;
  }
  .footer-questions.active svg {
    transform: rotate(45deg);
  }
  .footer-question-h3 {
    font-size: 5.5vw;
    line-height: 5vh;
    color: var(--secondary-color);
    text-align: left;
  }
  .footer-answers-p {
    font-size: 4.5vw;
    color: var(--white);
    text-align: left;
    font-weight: 600;
    line-height: 1.8;
  }
  .footer-svg-outline {
    padding: 1.5vw;
  }
  .footer-answers-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5px;
  }
}
