.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.testimonial-card-container {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
  position: relative;
}
.testimonial-card-col1,
.testimonial-card-col2,
.testimonial-card-col4,
.testimonial-card-col5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
}
.testimonial-card-col3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
  /* display: none; */
}
.swiper-js-section{
  display: none;
}
@media screen and (max-width: 1600px) {
  .testimonial-card-col3 {
    display: none;
  }
  .testimonial-card-container{
    margin-top: 5rem;
  }
}
.testimonial-card-content {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  gap: 2vh;
  z-index: 2;
}
.testimonial-card-title {
  max-width: 24vw;
  text-align: center;
}
.testimonial-card-description {
  text-align: center;
}
.testimonial-background-gradient {
  position: absolute;
  top: 10vh;
  left: 30vw;
  width: 40vw;
  height: 35vh;
  transform: rotate(41.447deg);
  background: linear-gradient(
    180deg,
    rgba(222, 255, 226, 0.2) -8.9%,
    rgba(81, 193, 149, 0.2) 44.95%,
    rgba(131, 255, 205, 0.2) 91.1%
  );
  filter: blur(7vw);
  z-index: 1;
}

.swiper-js-section{
  display: none;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .desktop-view{
    display: none;
    overflow: hidden;
  }
  .desktop{
    display: none;
  }
  .testimonial-card-col1,.testimonial-card-col2,.testimonial-card-col3,.testimonial-card-col4,.testimonial-card-col5{
    display: none;
  }
  .swiper-js-section{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .testimonial-card-content {
    position: relative;
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 3vh;
  }
  
  .testimonial-card-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .testimonial-card-description {
    font-size: 1.2rem;
    color: var(--gray);
  }
  
  .testimonial-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 11%;
    overflow: hidden;
  }
  
  .testimonial-swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .testimonial-background-gradient {
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 40vw;
    height: 35vh;
    transform: rotate(41.447deg);
    background: linear-gradient(
      180deg,
      rgba(222, 255, 226, 0.2) -8.9%,
      rgba(81, 193, 149, 0.2) 44.95%,
      rgba(131, 255, 205, 0.2) 91.1%
    );
    filter: blur(7vw);
    z-index: 1;
  }
    .testimonial-card-content {
      width: 90%;
    }
    .testimonial-card-title {
      font-size: 2.2rem;
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
  
    .testimonial-card-description {
      font-size: 1rem;
      line-height: 1.5rem;  
    }
  
    .testimonial-card-container {
      width: 100%;
    }
}