.faq-section {
  width: 100%;
  position: relative;
  /* padding: 45px auto; */
  padding: 100px 150px;
  z-index: 5;
  /* min-height: 120vh; */
  background-color: var(--background);
}
.faq-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-heading {
  width: 573px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.faq-heading-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-heading-span {
  color: var(--primary-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.faq-subheading-p {
  color: #808080;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.faq-qa {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .faq-section {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0px 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    /* min-height: auto; */
    max-width: 1200px;
    top: 0;
  }

  .faq-qa {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .faq-answers-p {
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
  }
  .faq-icon {
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    width: 5vw;
    height: auto;
  }

  .faq-container {
    width: 100%;
  }

  .faq-heading {
    width: 90vw;
  }

  .faq-qa {
    width: 100%;
    margin-top: 40px;
  }
}
