.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--background);
  padding: 90px 0 45px 0;
}
.testimonial-section-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--background);
  padding: 45px 0;
}
.testimonial-card-container {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
  position: relative;
}
.testimonial-card-col1,
.testimonial-card-col2,
.testimonial-card-col4,
.testimonial-card-col5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
}
.testimonial-card-col3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
}
.swiper-js-section {
  display: none;
}
@media screen and (max-width: 1600px) {
  .testimonial-card-col3 {
    display: none;
  }
  .testimonial-card-container {
    margin-top: 5rem;
  }
}
.testimonial-card-content {
  position: absolute;
  width: 100%;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  gap: 2vh;
  z-index: 2;
  padding-top: 45px;
}
.testimonial-card-title {
  max-width: 24vw;
  text-align: center;
}
.testimonial-card-description {
  text-align: center;
}
.testimonial-background-gradient {
  position: absolute;
  top: 10vh;
  left: 30vw;
  width: 40vw;
  height: 35vh;
  transform: rotate(41.447deg);
  background: linear-gradient(
    180deg,
    rgba(222, 255, 226, 0.2) -8.9%,
    rgba(81, 193, 149, 0.2) 44.95%,
    rgba(131, 255, 205, 0.2) 91.1%
  );
  filter: blur(7vw);
  z-index: 1;
}

.swiper-js-section {
  display: none;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .testimonial-card-col1,
  .testimonial-card-col2,
  .testimonial-card-col3,
  .testimonial-card-col4,
  .testimonial-card-col5 {
    display: none;
  }
  .swiper-js-section {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  .testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    display: none;
  }
  .testimonial-section-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
  }
  .testimonial-card-title {
    display: inline;
    align-items: start;
    white-space: normal;
    max-width: 100%;
  }
  .testimonial-card-title {
    display: inline;
    align-items: start;
    white-space: normal;
  }
  .testimonial-card-container {
    margin: 0;
    background: none;
  }
  .testimonial-card-content {
    position: relative;
    padding: 0;
    width: 90%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .testimonial-card-description {
    font-size: 1.2rem;
    color: var(--gray);
    margin-bottom: 1.2rem;
  }
  .testimonial-card-container {
    width: 100%;
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 3vh;
  }
  .testimonial-cards {
    width: 100%;
    max-width: 120%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .mySwiper {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .testimonial-cards {
    margin: 20px auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    background: var(--main-color);
    border-radius: 100%;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px !important;
    color: white !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 0) !important;
    right: auto;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 0px) !important;
    left: auto;
  }
  .testimonial-background-gradient {
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 40vw;
    height: 35vh;
    transform: rotate(41.447deg);
    background: linear-gradient(
      180deg,
      rgba(222, 255, 226, 0.2) -8.9%,
      rgba(81, 193, 149, 0.2) 44.95%,
      rgba(131, 255, 205, 0.2) 91.1%
    );
    filter: blur(7vw);
    z-index: 1;
  }
  .swiper-button-next {
    right: 0px !important;
    left: auto !important;
  }

  .swiper-button-prev {
    left: 0px !important;
    right: auto !important;
  }
}
