@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #f4f3f9;
  --foreground: #1d1d1d;
  --black: #1d1d1d;
  --white: #ffffff;
  --gray: #808080;
  --main-color: #204343;
  --secondary-color: #63aea7;
  --light-gray: #404040;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Main Container for all pages Starts */
.main-container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
/* Main Container for all pages Ends */

/* Section Heading Styles Starts */
.section-title {
  font-family: var(--font-inter);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: var(--black);
}
.section-title span {
  color: var(--secondary-color);
}
.section-description {
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: var(--gray);
}
/* Section Heading Styles Ends */

/* mosque svg icon */
.mosque-icon {
  width: 100%;
}

/* button design */

.section-btn {
  border-radius: 8px;
  border-radius: 8px;
  background: #63aea7;
  max-width: 277px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  gap: 40px;
}
.section-btn p {
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section-btn svg {
  width: 17px;
  height: auto;
  flex-shrink: 0;
}
