@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #F4F3F9;
  --foreground: #1D1D1D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
