@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #f4f3f9;
  --foreground: #1d1d1d;
  --black: #1d1d1d;
  --white: #ffffff;
  --gray: #808080;
  --main-color: #204343;
  --secondary-color: #63aea7;
  --light-gray: #404040;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Right scroll bar styles Starts */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
/* Right scroll bar styles Ends */

/* Main Container for all pages Starts */
.main-container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
/* Main Container for all pages Ends */

/* Section Heading Styles Starts */
.section-title {
  font-family: var(--font-inter);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: var(--black);
}
.section-title span {
  color: var(--secondary-color);
}
.section-description {
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: var(--gray);
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 30px;
    line-height: 140% !important;
}
  .section-description {  
    font-size: 18px;
    line-height: 140% !important;
  }
}
/* Section Heading Styles Ends */

/* mosque svg icon */
.mosque-icon {
  width: 100%;
  padding-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .mosque-icon {
    width: 100%;
    margin-top: -20%;
    margin-bottom: -15%;
    height: 160px;
  }
}
/* button design  STarts*/

.section-btn {
  border-radius: 8px;
  border-radius: 8px;
  background: #63aea7;
  max-width: 277px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  gap: 40px;
  overflow: hidden;
  cursor: pointer;
}
.section-btn p {
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section-btn svg {
  width: 17px;
  height: auto;
  flex-shrink: 0;
}

.section-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.section-btn:hover .arrow-icon {
  transform: translateX(5px);
  transition: transform 0.4s ease-in-out;
}

.section-btn:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}

.arrow-icon {
  transition: transform 0.5s ease-in-out;
}

Button {
  cursor: pointer;
}


/* button design  Ends*/

.main{
  background-color: var(--background);
  z-index: 9;
  position: relative;
}


.padding-global{
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .padding-global{
    padding: 0 0;
  }
}


