.about-us-cta-section {
  padding: 5rem;
  padding: 90px auto;
  z-index: 5;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
  background-color: var(--background);
}
.about-us-page-grid-image-left {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3;
  width: 25.25rem;
  height: 93.50013rem;
  flex-shrink: 0;
}
.about-us-page-grid-image-right {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 3;
  width: 25.25rem;
  height: 93.50013rem;
  flex-shrink: 0;
}
.about-us-cta-container {
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.about-us-cta-main {
  max-width: 85rem;
  height: 47rem;
  border-radius: 1.25rem;
  background: #204343;
  display: flex;
  padding: 75px 105px;
  z-index: 3;
  gap: 55px;
}
.about-us-cta-content {
  display: flex;
  width: 710px;
  height: 406px;
  padding: 5px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  flex-shrink: 0;
  z-index: 10;
}
.about-us-cta-title {
  max-width: 730px;
}
.about-us-title {
  color: #fff;
  font-family: "DM Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-us-title span {
  color: #63aea7;
  font-family: "DM Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-us-description {
  color: #fff;
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us-image{
  margin-top: 30px;
}
.about-us-mosque-image {
  z-index: 2;
  bottom: 0;
  left: 0;
  position: absolute;
}
.about-us-mosque-gradient {
  width: 90%;
  height: 120px;
  filter: blur(150px);
  background-color: rgba(255, 255, 255, 0.422);
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1;
}

/* @media screen and (max-width: 768px) {
  
} */
@media (max-width: 768px) {
  .about-us-cta-section {
    padding: 20px;
  }
  
  .about-us-cta-main {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
    gap: 30px;
  }
  
  .about-us-cta-content {
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 20px;
  }
  
  .about-us-cta-title,
  .about-us-title,
  .about-us-title span {
    font-size: 40px;
    line-height: 1.2;
  }
  
  .about-us-description {
    font-size: 20px;
  }
  
  .about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  
  .about-us-mosque {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-mosque-image {
    /* width: 100%;
    height: auto;
    position: static; */
    display: none;
  }
}
